.dashHomeInvestmentCards{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    justify-content: space-evenly;
    gap: 10px 0px;
    background: linear-gradient(to bottom, var(--dashtint), transparent);
    margin-bottom: 20px;
}
.dashHomeInvestmentChart{
    position: relative;
}
.dashHomeInvestmentCardSingle{
    border: 1px solid #ccc;
    padding: 10px 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.1), -2px -2px 4px rgba(0,0,0,.1);
    background-color: #fff;
    display: flex;
    gap: 12px;
    align-items: center;
    min-height: 100px;
}
.dashHomeCardTitle{
    font-weight: 600;
    font-size: 15px;
}
.dashHomeCardValue{
    font-size: 19px;
    font-weight: 600;
    color: var(--link-color);
}
.dashHomeCardIcon{
    flex-shrink: 0;
    min-width: 30px;
    display: flex;
    align-items: center;
}
.dashHomeCardIcon i{
    font-size: 27px;
}
.dashHomeCardMeta{
    flex-grow: 1;
}
.refreshDataButton{
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    background: var(--link-color);
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: var(--shadow4);
    z-index: 50;
    cursor: pointer;
}
.dashHomeDoubleChartSection{
    display: flex;
    padding: 15px 15px;
    background: #e7e6e6;
    gap: 15px;
    /* box-shadow: inset 0px 5px 3px rgba(0,0,0,.1); */
    box-sizing: border-box;
    align-items: stretch;
}


.dashHomeInvestorByCategory{
    flex-shrink:0;
    max-width: 400px;
    min-width: 280px;;
    width: 40%;
    padding: 0px 0px;
    padding-left: 0px;
    position: relative;
    z-index: 5;
}
.dashHomeInvestorRegistration{
    flex-grow: 1;   
    background: #fff;
    border-radius: 5px;
}
.dashHomeInvestorByCategory > div{
    border-radius: 5px;
    background-color: #FFF;
    display: flex;
    align-items: center;
}
.dashHomeInvestAmountGreen{
    position: absolute;
    top: 40px;
    left: 21px;
    font-weight: 800;
    font-size: 20px;
    color: #0cbb4d;
}
.dashHomeCustomerStats{
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: stretch;
}
.dashHomeCustomerStats > div, .dashHomeDoubleOfferingChartSection > div, .dashHomeDoubleInvestmentSection > div{
    flex: 1;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.dashHomeInvestmentChartZoomOutButton{
    position: absolute;
    top: 10px;
    right: 100px;
    border: none;
    background: var(--link-color);
    color: #fff;
    padding: 5px 10px;
    font-size: 12px;
    box-shadow: var(--shadow4);
    z-index: 99;
    cursor: pointer;
}

.dashHomeDoubleOfferingChartSection{
    display: flex;
    padding: 15px 20px;
    padding-top: 0px;
    background: #fff;
    gap: 20px;
    /* box-shadow: inset 0px 5px 3px rgba(0,0,0,.1); */
    box-sizing: border-box;
    align-items: stretch;
}

.dashHomeDoubleOfferingChartSection > .dashHomeOfferingByStatusPerformance{
    flex: 2
}

.dashHomeDoubleOfferingChartSection > .dashHomOfferingByStaus{
    flex: 2
}

.dashHomeDoubleInvestmentSection{
    display: flex;
    padding: 15px 20px;
    padding-top: 0px;
    background: #fff;
    gap: 20px;
    /* box-shadow: inset 0px 5px 3px rgba(0,0,0,.1); */
    box-sizing: border-box;
    align-items: stretch;
}

.dashHomeDoubleOfferingChartSection > .dashHomeAvgInvestment{
    flex: 2
}

.dashHomeDoubleOfferingChartSection > .dashHomNumInvestment{
    flex: 2
}