.orgHomeModule{

}
.orgHomenHeaderContainer{
    background: #f7f7f7;
    padding: 10px 20px;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
}
.orgHomeHeaderContainerRegion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}
.orgHomeHeaderContainerLink{
    font-size: 12px;
    text-decoration: none;
}
.orgHomeHeaderContainerName{
    margin: 0px;
    font-size: 20px;
}
.orgHomeHeaderHeader{
    flex-shrink: 0;
    min-width: 150px;
    display: flex;
    align-items: center;
}

.createNewOrgButton{
    text-decoration: none;
    display: flex;
    gap: 5px;
    background: var(--link-color);
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
}
.createNewOrgButton:hover, .orgHomeFilterButton:hover, .orgHomeExportButton:hover {
    color: #fff;
    background-color: #0859d1;
}
.orgHomeFilterRowContainer{
    padding: 7px 10px;
    display: flex;
    justify-content: space-between;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}
.orgHomeFilterButton{
    text-decoration: none;
    display: flex;
    gap: 5px;
    background: var(--link-color);
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
    border: none;
}
.orgHomeExportButton{
    text-decoration: none;
    display: flex;
    gap: 5px;
    background: var(--link-color);
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
    border: none;
}
.dataModuleStyle{

}
.dataModuleStyleInner{
    overflow: auto;
    height: calc(100vh - 190px);
}
.dataModuleStyleInner table{
    margin-bottom: 0px;
}
.dataModuleThead{
    position: sticky !important;
    top: 0px;
    z-index: 20;
    background-color: #fff;
    box-shadow: 0px 2px 3px rgba(0,0,0,.1);
}
.dataModuleTheadrow{

}

.dataModuleTh{
    font-size: 12px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: middle;
    min-width: 180px;
    border-bottom: none !important;
    /* border-right: 1px solid #ccc; */
    position: relative;
}
.dataModuleTbody{

}
.dataModuleTbodyrow{
    position: relative;
}  

.dataModuleTd{
    font-size: 12px;
    font-weight: 500;
    border-right: 1px solid #ccc;
}

.dataModuleTbodyrow .dataModuleTd:last-child{
    border-right: none;
}


.dataPageLink{

}
.dataModulePagination{

}
.dataModulePagination a{
    padding: 0px 5px;
    text-decoration: none;
    background: var(--link-color);
    color: #fff;
    margin-right: 5px;
    min-width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 21px;
    border-radius: 2px;
}
.dataModulePageShow{
    font-weight: 500;
}
.dataModulePageShow b{
    font-weight: 700;
}
.dataModuleFooter{
    background: #f7f7f7;
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    font-size: 13px;
    align-items: center;
    height: 27px;
    padding: 0px 10px;
}

.currentPage{
    background: #fff !important;
    color: black !important;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1), -2px -2px 5px rgba(0,0,0,.1);
    font-weight: 700;
    border: 1px solid var(--link-color);
}
.dataModuleThInner{
    display: flex;
    justify-content: space-between;
}
.dataModuleThOverlay{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    left: 0px;
    top: 0px;
}
.dataModuleOuterCont{
    display: flex;
}
.dataModuleDataPrev{
    flex-grow: 1;
    position: relative;
}
.dataModuleFilterAreaInner{

}
.dataModuleFilterArea{
    width: 250px;
    flex-shrink: 0;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: .28s;
    animation-duration: .28s;
    -webkit-animation-timing-function: cubic-bezier(.8,0,.2,1);
    animation-timing-function: cubic-bezier(.8,0,.2,1);
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
    -webkit-animation-delay: .04s;
    animation-delay: .04s;
    background: #fff;
    border-right: 1px solid #e7e7e7;
    box-shadow: 3px 0px 3px rgba(0,0,0,.1);
    overflow-y: auto;
}
.dataModuleFilterAreaForm{
    height: calc( 100vh - 170px);
    display: block;
    padding: 0px 10px;
}

.dataModuleDateRange{
    position: fixed;
    z-index: 40;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dataModuleDateRange:before{
    content: ""
}
.dataModuleDateRangeBackdrop{
    background: rgba(0,0,0,.1);
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 40;
}   
.dataModuleDateRange .rdrCalendarWrapper {
    position: relative;
    z-index: 99;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1), -2px -2px 5px rgba(0,0,0,.1);
    padding: 10px;
    border-radius: 5px;
    background: #fff;
    display: flex;
    flex-direction: column;
}
.rdrCalendarWrapperCloseBtn{
    display: inline-block;
    align-self: end;
    padding: 0px 10px;
    color: #000;
    border: transparent;
    margin-bottom: 10px;
    background: transparent;
}

.dataModuleFilterInputGroup{
    padding: 5px 0px;
}

.dataModuleFilterLabel{
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 5px;
    width: 100%;
}

.dataModuleFilterInput{
    width: 100%;
    border: 2px solid #e7e7e7;
    font-size: 13px;
    padding: 5px 10px;
    outline: 0px;
}

.dataModuleFilterInput:focus{
    border-color: var(--link-color);
}

.dataModuleFilterResultButton{
    text-decoration: none;
    display: flex;
    gap: 5px;
    background: var(--link-color);
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
    border: none;
}


.dataModuleFilterInputGroupFlexEnd{
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.dataModuleNoResults{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #777;
    background-color: #f7f7f7;
    padding: 10px 20px;
    border: 1px solid #e7e7e7;
    font-size: 12px;
}
.dataModuleFilterResetButton{
    text-decoration: none;
    display: flex;
    gap: 5px;
    background: #e7e7e7;
    color: black;
    padding: 5px 7px;
    font-size: 12px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
    border: none;
}
.orgHomeActionContainer{
    display: flex;
    gap: 10px;
}
.dataModuleColumnGroup{
    display: flex;
    gap: 10px;
    padding: 4px 10px;
}
.dataModuleColumnInput{
    accent-color: var(--link-color);
    width: 15px;
}
.dataModuleColumnLabel{
    font-size: 13px;
    font-weight: 500;
}

.dataModuleColumnOuterGroup{
    border: 1px solid #e7e7e7;
    margin-top: 10px;
    margin-bottom: 10px;
    background: #f7f7f7;
    padding: 5px;
}
@keyframes slideInLeft{
    0% {
      opacity: 0;
      -webkit-transform: translate(-80px);
      -ms-transform: translate(-80px);
      transform: translate(-80px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translate(0);
        -ms-transform: translate(0);
        transform: translate(0);
    }
  }