.settingsContainer{
    
}

.searchHeader{
    display:flex;
    justify-content: center;
    height: 90px;
    align-items: center;
}

.searchHeader input{
    width:45%;
    height: 40px;
    outline:none;
    border:2px solid var(--search-border);
    border-radius: 5px;
    padding: 10px;
}

.roles_grids{
    display:grid;
    grid-template-columns: auto auto auto auto;
    gap:20px;
}

.settings{
    display: flex;
    justify-content: space-around;
    padding:10px 11px;
    border:1px solid #f1f1f1;
    width:100%;
}
.settings:hover{
    box-shadow:var(--settings-box-shdw)
}

.settingContent{
    display:flex;
    flex-direction: column;
    gap: 10px;
    width:70%;
}

.settingRolesLink{
    text-align: right;
    width: 100%;
}
.settingRolesLink::after{
    content:""
    
}

.settingsIcon{
    width:30%;
    text-align:center;
    font-size:44px;
}
.settingsTitle{
    color: #000;
    font-size: 18px;
}
.settingsDescription{
    color:#c2c2c2;
    font-size:14px;
}

.settings_Cards{
    padding:15px;
}