.managaProfile_module{

}
.managaProfileHeaderContainer{
    background: var(--headerBg);
    padding: 10px 20px;
    display: flex;
    border-bottom: 1px solid #e7e7e7;
}
.managaProfileHeaderContainerRegion{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}
.managaProfileHeaderContainerLink{
    font-size: 12px;
    text-decoration: none;
}
.managaProfileHeaderContainerLink i{

}
.managaProfileHeaderContainerName{
    margin: 0px;
    font-size: 20px;
}
.managaProfileBody{
    display: flex;
    align-items: stretch;
    height: calc(100vh - 120px);
}
.manageProfilePersonal{
    flex-grow: 1;
}
.manageProfileSidebar{
    flex-shrink: 0;
    min-width: 250px;
    border-right: 1px solid #e7e7e7;
    background-color: #f7f7f7;
    padding: 10px 20px;
}
.manageProfileSidebarInner{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.manageProfilePersonalInner{
    padding:10px 15px;
}
.manageProfilePersonalInfo{
    max-width: 800px;
}
.formLabel{
    display: block;
    font-weight: 500;
    margin-bottom: 3px;
    font-size: 14px;
}

.formInput{
    width: 100%;
    outline: none;
    border: 2px solid #e7e7e7;
    padding: 5px 10px;
    font-size: 13px;
}

.formInput:focus{
    border-color: var(--link-color);
}

.manageProfileInputGroup{
    padding: 5px 0px;
}
.manageProfileSubTitle{
    font-size: 16px;
    border-bottom: 1px solid #e7e7e7;
    padding: 7px 0px;
}
.manageProfilePersonalTheme{
    /* margin-top: 10px */
}
.manageProfileThemeSection{

}
.manageProfileThemeItem{

}
.manageProfileThemeIcon{
    display: inline-block;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1), -2px -2px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid transparent;    
    background-position: center center !important;
}
.manageProfileThemeIconSelected{
    display: inline-block;
    width: 50px;
    height: 50px;
    box-shadow: 2px 2px 3px rgba(0,0,0,.1), -2px -2px 3px rgba(0,0,0,.1);
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    border: 2px solid var(--link-color);
    position: relative;    
    background-position: center center !important;
}

.manageProfileThemeIconSelected i{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: var(--link-color);
    color: #fff;
    line-height: 10px;
    border-top-left-radius: 5px;
}
.manageProfileSaveThemeButton{
    text-decoration: none;
    display: inline-block;
    gap: 5px;
    background: var(--link-color);
    color: #fff;
    padding: 5px 7px;
    font-size: 12px;
    box-shadow: -1px 1px 5px rgba(0,0,0,.1);
    border: none;
    margin-top: 5px;
    margin-right: 5px;
}
.manageProfileSaveThemeButton:hover{
    color: #fff;
    background-color: #0859d1;
}
.panelLinks{
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #242424;
    gap: 10px;
    font-size: 14px;
    padding: 5px 10px;
    border: 1px solid rgba(0,0,0,0);
    cursor: pointer;
    border-radius: 2px;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  align-items: center;
}
.panelLinks:hover{
    color: #242424;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #e7e7e7;
}
.panelLinksActive{
    display: flex;
    width: 100%;
    text-decoration: none;
    color: #242424;
    gap: 10px;
    font-size: 14px;
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,0);
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  align-items: center;
}
.panelLinksActive:hover{
    color: #242424;
    border: 1px solid rgba(0,0,0,0);
}
.panelLinks i, .panelLinksActive i{
    color: var(--link-color);
    font-size: 18px;
}