:root{
  --body-background: #f0f0f0;
  --shadow4: 0 0 2px rgba(0,0,0,0.12), 0 2px 4px rgba(0,0,0,0.14);
  --colorNeutralShadowKey: rgba(0,0,0,0.14);
  --search-border:#f1f1f1;
  --settings-box-shdw: rgba(0, 0, 0, 0.1) 0px 0px 6px;
  --link-color: #0b4a99;
  --accordBg: #0b4a9920;
  --checkedBg: #0b4a99;
  --accordTitleText: #0b4a99;
}

body,
html {
  border: 0;
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  transition: .2s all cubic-bezier(0.075, 0.82, 0.165, 1);
  margin: 0px;
  padding: 0px
}

a{
  color: var(--link-color)
}

.accordion-item {
  border-radius: 0px !important;
}

.form-check-input:checked {
  background-color: var(--checkedBg);
  border-color: var(--checkedBg);
}
.accordion-button:not(.collapsed){
  background-color: var(--accordBg);
  color:var(--accordTitleText);
}
.accordion-button:focus{
  box-shadow: none;
}