.SideDrawerContainer{
    position: fixed;
    z-index: 1028;
    background-color: #fff;
    max-width:320px;
    width:300px;
    height: 100%;
    box-shadow: var(--shadow4);
    overflow-y: auto;
}

.sideheaderIcon{
    height: 50px;
    display: flex;
    align-items: center;
    padding:10px;
}
.SideDrawerLogo{
    top: 15px;
    width: 44px;
    position: absolute;
    right: 25px;
}
.sideheaderIcon i{
    flex-grow:2;
    font-size:15px;
}
.sideheaderIcon a{
    flex:1;
   
}
.threedots{
    position: absolute;
    left: 18px;
    top: 7.7px;
    padding: 3px 8px;
    color: #000;
}

.threedots:hover{
    background: #F3F2F1;
    border-radius: 4px;
    color: #000;
}

.threedots:hover{
    color: #000;
}

.threedots i{
    font-size: 16px;
}

.SideDrawerInner{
    display: flex;
    flex-direction: column;
}

.sideDrawerApps{

}

.SideDrawerAppHeader{

}

.SideDrawerAppssection{
    display: grid;
    grid-template-columns: repeat(auto-fill, 120px);
    gap: 5px 2px;
    padding: 10px 5px;
    justify-content: start;
    align-items: center;
}

.SideDrawerSubMenu{
    font-size: 11px;
    font-weight: 600;
    padding: 5px 10px;
    color: black;
    text-decoration: none;
}

.SideDrawerSubMenu:hover{
    background-color: #F3F2F1;
    color: black;
    border-radius: 3px;
    cursor: pointer;
}



.sidetext{
    font-weight: 600;
    border-bottom: 1px solid #f1f1f1;
    color: var(--link-color);
    padding: 5px 15px;
    display: block;
    text-decoration: none;
}
